dist: xenial
language: php

env:
  global:
    - SETUP=stable

matrix:
  fast_finish: true
  include:
    - php: 7.3
    #- php: 7.3
    #  env: SETUP=lowest

cache:
  directories:
    - $HOME/.composer/cache

services:
  - redis-server
  - mysql

before_install:
  #- phpenv config-rm xdebug.ini || true
  - printf "\n" | pecl install -f igbinary
  # Install & Build Redis
  - printf "\n" | pecl install -f --nobuild redis
  - cd "$(pecl config-get temp_dir)/redis"
  - phpize
  - ./configure --enable-redis-igbinary
  - make && make install
  - echo "extension = redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - cd -
  - travis_retry composer self-update
  - mysql -e 'CREATE DATABASE forge;'

install:
  - travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-suggest

script:
  - php --ri redis
  - composer phpcs
  - composer coverage-clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml

notifications:
  on_success: never
  on_failure: always
